
<div class="header-img">
  <img src="./assets/header2.jpg">
</div>
<div class="black">
  <img src="./assets/fondnoir.png">
</div>
<div class= header_wrapper>
    <a href="#" class="image"><img src="./assets/logo3t.png"></a>
    <ul>
      <li><a href="contact">Contact</a></li>
      <li><a href="guestBook">Livre d'or</a></li>
      <li><a href="pressList">Presse</a></li>
      <li><a href="medias">Medias</a></li>
      <li><a href="concertsList">Agenda</a></li>
      <li><a href="ensemble">Le choeur</a></li>
    </ul>
  </div>
  <div class="mobile">
    <a href="" class="mobile-nav"><img src="./assets/icons/mobile-nav-button.png"></a>
  </div>