/* ALL SCREENS */

.header_wrapper ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #09283f;
    position: -webkit-sticky; /* Safari */
    position: sticky;
}

.header_wrapper li {
    float: right;
}

.header_wrapper li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.header_wrapper li a:hover {
    color: #aa7939;
    transition: 0.5s;
}

.image img{
    position: relative;
    border: 0;
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #09283f;
}

.mobile{
    background-color: #09283f;
}


/* EXTRA LARGE SCREEN */

@media screen and (min-width: 1200px){
    .header_wrapper ul {
        padding-top: 90px;
        padding-bottom: 50px; 
    }
    
    .header_wrapper li a {
        font-size: 1.2em;
    }
    
    .image img{
        height: 50px;
        padding-bottom: 55px;
    }
    
    .mobile-nav img{
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    
    .header_wrapper{
        padding-right: 22%;
        padding-left: 15%;
        height: 192px;
    }
    
}

/* LARGE SCREEN */

@media screen and (min-width: 992px) and (max-width: 1200px){
    .header_wrapper ul {
        padding-top: 90px;
        padding-bottom: 50px;
    }
    
    .image img{
        height: 95px;
        padding-bottom: 40px;
    }
    
    .mobile-nav img{
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    
    .header_wrapper{
        padding-right: 10%; /* changement */
        padding-left: 70px; /* changement */
        height: 192px;
    }
}

/* MEDIUM SCREEN */

@media screen and (min-width: 768px) and (max-width: 992px){
    .header_wrapper ul {
        padding-top: 75px;
    }
    
    .image img{
        height: 70px; /* changement */
        padding-top: 30px; /* changement */
    }
    
    .mobile-nav img{
        opacity: 0;
        width: 0px;
        height: 0px;
    }
    
    .header_wrapper{
        padding-right: 18px; /* changement */
        padding-left: 18px; /* changement */
        height: 160px; /* changement */
    }
}

/* SMALL SCREEN */

@media screen and (min-width: 576px) and (max-width: 768px){
    .header_wrapper ul {
        padding-top: 75px;
    }
    
    .header_wrapper li {
        width: 0px;
        height: 0px;
    }
    
    .image img{
        height: 70px; /* changement */
        padding-top: 8px; /* changement */
    }
    
    .mobile-nav img{
        opacity: 1;
        width: 50px;
        height: 50px;
        float: right;
        padding-right: 60px;
        padding-bottom: 30px;
        margin-top: -50px;
    }
    
    .header_wrapper{
        padding-right: 18px; /* changement */
        padding-left: 18px; /* changement */
        height: 80px; /* changement */
    }
}

/* EXTRA SMALL SCREEN */

@media screen and (min-width: 265px) and (max-width: 576px){
    
    .header_wrapper li {
        width: 0px;
        height: 0px;
    }
    
    .image img{
        height: 50px; /* changement */
        padding-top: 17px; /* changement */
    }
    
    .mobile-nav img{
        opacity: 1;
        width: 30px;
        height: 30px;
        float: right;
        padding-right: 60px;
        padding-bottom: 30px;
        margin-top: -50px;
    }
    
    .header_wrapper{
        padding-right: 18px; /* changement */
        padding-left: 18px; /* changement */
        height: 80px; /* changement */
    }
}

/* EXTRA EXTRA SMALL SCREEN */

@media screen and (max-width: 265px){
    
    .header_wrapper li {
        width: 0px;
        height: 0px;
    }
    
    .image img{
        position: relative;
        height: 50px; /* changement */
        padding-top: 17px; /* changement */
        border: 0;
    }
    
    .mobile-nav img{
        opacity: 1;
        width: 30px;
        height: 30px;
        float: left;
        padding-left: 65px;
        padding-bottom: 30px;
        margin-top: 0px;
    }
    
    .header_wrapper{
        padding-right: 18px; /* changement */
        padding-left: 18px; /* changement */
        height: 80px; /* changement */
    }
}
