*{
        box-sizing: inherit;
}

.page-color{
    background-color: #09283f;
    min-height: 100vh;
}

.choir-buttons{
    float: right;
    padding-right: 10%;
}

.choir-buttons a{
    text-decoration: none;
    border-style: solid;
    border-color: #aa7939;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    background-color: white;
    color: #09283f;
}

.portrait{
    margin: 0 5% 0 35%;
    float: inherit;
    visibility: hidden;
    animation: homeheaderbackgroundimage 1000ms ease forwards;
    animation-delay: 1.4s;
    transition: transform 600ms ease;
    position: absolute;
    overflow: hidden;
}

.portrait::before{
    content: '';
    background-color: #064579;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateX(-100%);
    animation: homeheaderbackgroundmask 2.5s ease forwards;
    animation-delay: 1s;
}

.portrait::after{
    content: '';
    display: block;
    position: absolute;
}

img{
    width: 100%;
}

span{
    font-size: 11em;
    color: white;
}

.cheffe{
    font-size: 1.2em;
    margin-left: 15%;
    opacity: 0;
    -webkit-animation: fadeIn 3s ease 1s 1 normal forwards running;
    animation: fadeIn 3s ease 2s 1 normal forwards running;
}

.caroline{
    font-family: 'Roboto Slab', serif;
    opacity: 0;
    -webkit-animation: fadeIn 3s ease 1.2s 1 normal forwards running;
    animation: fadeIn 3s ease 2.3s 1 normal forwards running;
}

.semont{
    font-family: 'Roboto Slab', serif;
    opacity: 0;
    -webkit-animation: fadeIn 3s ease 1.4s 1 normal forwards running;
    animation: fadeIn 3s ease 2.6s 1 normal forwards running;
}

.name{
    position: absolute;
    width: 15%;
    padding-left: 20%;
    margin-top: 8%;
}

p{
    text-align: justify;
}

.parag{
    margin: 12% 0 8% 0;
    padding: 0 10% 0 24%;
    font-size: 1.5em;
    color: #87959f;
}