.sidenav {
    width: 240px;
    min-height: 100vw;
    position: fixed;
    z-index: 1;
    background: #064579;
    overflow-x: hidden;
    padding: 8px 0;
    margin-top: -220px;
    margin-left: 0;
    border-right-color: white;
    text-align: center;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 2em;
    color: #aa7939;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

.main {
    margin-left: 140px; /* Same width as the sidebar + left position in px */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.image img{
    float: left;
    border: 0;
    width: 95%;
    margin-top: 30%;
    margin-bottom: 30%;
}

.esp{
    margin: 30%;
}

.sidenav.help a{
    color: white;
    font-size: 1em;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}