<app-home-main-menu></app-home-main-menu>
<div class="main-pic">
<!--   <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t31.0-8/29873452_258226548052680_272544497052417156_o.jpg?_nc_cat=103&_nc_ht=scontent-cdg2-1.xx&oh=12dac9d5c536a59f36b168d3761bbb03&oe=5CB1723C">
 --></div>
<div class="home-page-template">
  <section class="about">
    <h1>CHOEUR DE CHAMBRE ÊKHÔ</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim mi ipsum, ac convallis elit vulputate at.
    </p>
    <p>
      Proin tincidunt dolor ut feugiat tempus. Aenean a sapien a lectus blandit iaculis vitae a est. Duis pharetra nisi convallis, scelerisque velit a, molestie orci. Aenean ante arcu, dignissim quis mollis a, aliquam vitae quam. Morbi tristique at dui nec dictum. 
    </p>
    <p>
      Etiam laoreet, nibh ut pharetra euismod, nibh ligula viverra est, quis faucibus sapien odio nec justo.
    </p>
    <a href="ensemble"><div class=container>
      <button class="btn rounded"><span class="text-green">En savoir plus</span></button>
    </div>
  </a>
</section>
<section class="agenda">
  <h1>Concerts</h1>
  <a href="concertList"><div class=container>
    <img src="https://scontent-cdg2-1.xx.fbcdn.net/v/t1.0-9/38903817_327276434481024_2384138901515141120_n.jpg?_nc_cat=110&_nc_ht=scontent-cdg2-1.xx&oh=9d9b1c758d7b7bdfeba4555ffcc29c47&oe=5CA9B263">
    <button class="btn rounded"><span class="text-green">En savoir plus</span></button>
  </div>
</a>
</section>
<section class="medias">
  <h1>video</h1>
  <a href="allmedias"><div class=container>
    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/6YfrAr0TQ3c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <button class="btn rounded"><span class="text-green">En savoir plus</span></button>
  </div>
</a>
</section>
<section class="press">
  <h1>derniers articles</h1>
  <a href="pressList"><div class=container>
    <button class="btn rounded"><span class="text-green">En savoir plus</span></button>
  </div>
</a>
</section>

</div>