.main-pic{
    /*    padding: 0 10% 0 25%;  */
}

img{
    width: 100%;
    margin-top: 0px;
}

h1{
    text-align: center;
    color: #aa7939;
    font-size: 3em;
}

section{
    padding: 100px 0 110px 0;
}

.agenda{
    background-color: #0f3b5b;
}

.press{
    background-color: #0f3b5b;   
}

.about p{
    text-align: center;
    font-size: 1.5em;
}

body,html{
	height: 100%;
}

a{
    text-decoration: none;
}

.video{
    text-align: center;
}

iframe{
    opacity: 1;
}

.home-page-template{
    margin-top: 40%;;
}

/* BOUTONS */

.container {
	width: auto;
	display: flex;
    flex-direction: column;
}

.btn {
    margin: 20px auto;
    border: none;
    padding: 10px 44px;
    position: relative;
    font-size: 1.5em;
}
.btn.rounded::before {
    border-radius: 50px;
    width: 25%;
    background: #aa7939;
}
.btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.btn.rounded .text-green {
    color: #aa7939;
    mix-blend-mode: difference;
}

.btn.rounded {
    border-radius: 50px;
}

[type=submit], [type=reset], button, html [type=button] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}

button, input, optgroup, select, textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button, hr, input {
    overflow: visible;
}

user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    padding: 1px 6px;
}

user agent stylesheet
input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
    align-items: flex-start;
    text-align: center;
    cursor: pointer;
    background-color: #baaa96;
    padding: 2px 6px 3px;
}

user agent stylesheet
input, textarea, select, button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 13.3333px Arial;
}

user agent stylesheet
input, textarea, select, button, meter, progress {
    -webkit-writing-mode: horizontal-tb !important;
}

user agent stylesheet
button {
    -webkit-appearance: button;
}

.btn.rounded:hover::before {
    background: #aa7939;
    width: 100%;
}

.btn.rounded::before {
    border-radius: 50px;
    width: 25%;
    background: #aa7939;
}

.btn::before {
    transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}